 <div class="panel panel-primary">

<div class='blue-grey'><H3>CURSOS</H3></div>


       <table class="striped">
           <thead class='blue-grey'>
             <tr>
               <th>Nome da Turma</th>
               <th>Seção</th>
               <th>Assunto</th>
               <th>Ação</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let c of cursos">
               <td>{{ ... }}</td>
               <td>...</td>
               <td>...</td>
               <td><a  class=" btn btn-floating red"><i class="material-icons right">remover</i></a></td>
             </tr>

           </tbody>

         </table>

 </div>
